* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(108, 159, 203);
}

ul {
    list-style: none;
}

a  {
    text-decoration: none;
    font-size: 1.5em;
    color: mediumslateblue;
}
p {
    margin: 0.5em 0 0.5em 0;
}
nav{
    display:grid;
    grid-template-areas: "logo links";
    justify-content: left;
}
a:hover {
    color: cornflowerblue;
}


nav img {
    grid-area: logo;
    display: inline-block;
    image-rendering: -moz-crisp-edges;
    margin: auto;
    padding-left: 0.5em;
    height: 3em;
}

nav ul {
    grid-area: links;
    display: inline-block;
}

    nav ul li {
        display: inline-block;
        padding: 1.5em 1em 0 1em;
        height: 4em;
    }

header {
    grid-area: header;
    border-bottom: 0.2em solid cadetblue;
}

body {
    display: grid;
    background-color: black;
    grid-template-areas: "header header" "main main" "footer footer";
}

main {
    grid-area: main;
    min-height: 80vh;
    padding: 4em;
}
    main ul li {
        padding: 0.5em 0 0.5em 0;
    }

h1 {
    color: cadetblue;
    padding: 0.5em 0 0.5em 0;
}
h2 {
    color: cornflowerblue;
    padding: 0.5em 0 0.5em 0;
    word-wrap:break-word;
    white-space:pre-wrap;
}
form {
    border: 2px solid gray;
    width: min-content;
    padding: 2em;
    white-space: nowrap;
}

main input {
    padding: 0.5em 1em 0.5em 1em;
    border: 1px solid black;
    border-radius: 4px;
    font-size: 1em;
    color: black;
    -webkit-appearance: none;
    -moz-appearance: textfield;
    margin: 0.5em 0 0.5em 0;
}
main input[type=radio]{
}
.button-green {
    padding: 0.5em 1em 0.5em 1em;
    border: 2px solid rgb(83, 174, 101);
    border-radius: 4px;
    font-size: 1em;
    color: black;
    background-color: rgb(105, 195, 110);
    cursor: pointer;
    margin-top: 1em;
    margin: 0.5em 0 0.5em 0.5em;
}

    .button-green:hover {
        background-color: lightskyblue;
        border: 2px solid cornflowerblue;
    }
footer {
    text-align: center;
    margin-bottom: 0;
    grid-area: footer;
}

.errortext {
   color: darkred;
}