
@{
    ViewBag.Title = "Fever Check";
}


<h1>Are you ill?</h1>

<form method="post">
    <input name="temperature" type="number" step="any" />
    <input type="radio" id="celcius" name="degreetype" value="celcius" checked="checked">
    <label for="celcius">Celcius</label><br>
    <input type="radio" id="fahrenheit" name="degreetype" value="fahrenheit">
    <label for="fahrenheit">Fahrenheit</label><br>
    <button>Check Temp</button>
</form>


@if (ViewBag.FeverResult != null)
{
    <h1>@ViewBag.FeverResult</h1>
}