
@{
    ViewBag.Title = "Fever Check";
}



<form method="post">
    <input name="temperature" />
    <input type="radio" id="celcius" name="degreetype" value="celcius" checked="checked">
    <label for="celcius">Celcius</label><br>
    <input type="radio" id="fahrenheit" name="degreetype" value="fahrenheit">
    <label for="fahrenheit">Fahrenheit</label><br>
</form>


@if (ViewBag.Temperature != null)
{
    <p>
        @if (ViewBag.Temperature > 18)
        {
            <h1>YOU ARE TO HOT!!!!!</h1>
        }
        else if (ViewBag.Temperature < 5)
        {
            <h1>YOU ARE TOO COLD!!!!!</h1>

        }
        else
        {
            <h1>YOU ARE OK!!!!!</h1>

        }
    </p>
}