@model GuessEntry
@{
    ViewBag.Title = "Guessinator";
}

<h1>Guess the Secret Number</h1>

<form method="post">
    <div>
        <input asp-for="Guess" autofocus value="" />
        <input class="button-green" type="submit" value="Guess"><br />
        <label class="errortext">@Model.Error</label>
    </div>
    <label>Highscore: @Model.Highscore</label>
    <h2>@Model.Status</h2>
</form>


