
@{
    ViewBag.Title = "Aboot";
}


<h1>About Me</h1>

<p>
    Hello fellow creation of a Human my name is Didrika and i live on planet Earth.
    The good earth is rich and Life is good here. There is room for everyone and the suffering in the world is but the passing of greed.
</p>
<p>
    I have done this and that but times change and those are no more. Right now I live by doing and do by living and all I do is code. I want to be a programmer.
</p>
<p>
    Please contact me if you want to know more.
</p>