
@{
    ViewBag.Title = "Aboot";
}


<h1>About Me</h1>

<table>
    <tr>
        <td>I am me and this is I.</td>
    </tr>
    <tr>
        <td>I have done this and that but times change and those are no more.</td>
    </tr>
    <tr>
        <td>Please contact me if you want to know more.</td>
    </tr>
</table>