
@{
    ViewBag.Title = "Contact";
}


<h1>Contact</h1>

<table>
    <tr>
        <td>Phone Number:</td>
        <td>Unavailable</td>
    </tr>
    <tr>
        <td>Email:</td>
        <td>admin@live.com</td>
    </tr>
    <tr>
        <td>Smoke Signals:</td>
        <td>Every day 1pm to 2pm, western sky</td>
    </tr>
</table>
