
@{
    ViewBag.Title = "Projects";
}

<h1>Projects</h1>
<ul>
    
    <li>
        <a href="https://github.com/didrika123/">Github</a>
        <p>Github with various projects.</p>
    </li>

    <li>
        <a href="https://didrika123.github.io/">Github Pages</a>
        <p>A little page containing a few javascript projects for example the game Sokoban.</p>
    </li>

    <li>
        <a href="https://github.com/didrika123/Hangman/">Hangman</a>
        <p>The game Hangman made in C#.</p>
    </li>
</ul>