
@{
    ViewBag.Title = "Projects";
}

<h1>Projects</h1>
<ul>

    <li>
        <a href="https://didrika123.github.io/">Github Pages</a>
        <p>A little page containing a few javascript projects for example the game Sokoban.</p>
    </li>

    <li>
        <a href="https://didrika123.github.io/">Hangman</a>
        <p>Simple Hangman made in C#.</p>
    </li>
</ul>